In [65]:
import sqlite3
from pymongo import MongoClient
import os

In [55]:
def sql_example():
    # Check database and remove so I can start clean
    if os.path.exists('test_database.db'):
        os.remove('test_database.db')

    # Connect to SQLite database
    conn = sqlite3.connect('test_database.db')
    cursor = conn.cursor()

    # Create tables: users and addresses
    cursor.execute('''CREATE TABLE IF NOT EXISTS users (
                        id INTEGER PRIMARY KEY,
                        name TEXT,
                        age INTEGER)''')

    cursor.execute('''CREATE TABLE IF NOT EXISTS addresses (
                        id INTEGER PRIMARY KEY,
                        user_id INTEGER,
                        address TEXT,
                        FOREIGN KEY (user_id) REFERENCES users (id))''')

    # Insert data into users table
    cursor.execute("INSERT INTO users (name, age) VALUES (?, ?)", ("Alice", 30))
    cursor.execute("INSERT INTO users (name, age) VALUES (?, ?)", ("Bob", 25))
    cursor.execute("INSERT INTO users (name, age) VALUES (?, ?)", ("Charlie", 35))
    cursor.execute("INSERT INTO users (name, age) VALUES (?, ?)", ("David", 28))
    cursor.execute("INSERT INTO users (name, age) VALUES (?, ?)", ("Eve", 40))

    # Insert data into addresses table
    cursor.execute("INSERT INTO addresses (user_id, address) VALUES (?, ?)", (1, "123 Apple St"))
    cursor.execute("INSERT INTO addresses (user_id, address) VALUES (?, ?)", (2, "456 Banana Ave"))
    cursor.execute("INSERT INTO addresses (user_id, address) VALUES (?, ?)", (3, "789 Cherry Blvd"))
    cursor.execute("INSERT INTO addresses (user_id, address) VALUES (?, ?)", (4, "555 Dragonfruit Way"))
    cursor.execute("INSERT INTO addresses (user_id, address) VALUES (?, ?)", (5, "757th Path"))

    # Commit changes
    conn.commit()

    # Fetch data from users table (with ordering and limit)
    cursor.execute("SELECT * FROM users ORDER BY age")
    users = cursor.fetchall()
    print("\nSQL Users by age:")
    for user in users:
        print(user)

    # Fetch data from users with a condition (age > 30)
    cursor.execute("SELECT * FROM users WHERE age > ?", (30,))
    users_above_30 = cursor.fetchall()
    print("\nUsers older than 30:")
    for user in users_above_30:
        print(user)

    # Fetch data using JOIN (users and addresses)
    cursor.execute('''SELECT users.name, users.age, addresses.address
                        FROM users
                        JOIN addresses ON users.id = addresses.user_id''')
    user_addresses = cursor.fetchall()
    print("\nUsers with addresses:")
    for user in user_addresses:
        print(user)

    # Update data: Update Bob's age to 26
    cursor.execute("UPDATE users SET age = ? WHERE name = ?", (26, "Bob"))
    conn.commit()

    # Fetch updated user data
    cursor.execute("SELECT * FROM users WHERE name = ?", ("Bob",))
    updated_bob = cursor.fetchall()
    print("\nUpdated Bob:")
    for user in updated_bob:
        print(user)

    # Delete data: Remove Alice
    cursor.execute("DELETE FROM users WHERE name = ?", ("Alice",))
    conn.commit()

    # Fetch remaining users after deletion
    cursor.execute("SELECT * FROM users")
    remaining_users = cursor.fetchall()
    print("\nRemaining users after deletion:")
    for user in remaining_users:
        print(user)

    conn.close()

In [ ]:
def nosql_example():
    # Connect to MongoDB
    client = MongoClient('mongodb://localhost:27017/')  # Default connection URI for local MongoDB

    # Start with a clean database for testing
    dbnames = client.list_database_names()
    if 'test_database' in dbnames:
        client.drop_database('test_database')

    db = client['test_database']  # Create a database named 'test_database'

    # Delete the database after the function runs
    client.drop_database('test_database')
    
    # Create collections: users and addresses
    users_collection = db['users']  # Create a collection named 'users'
    addresses_collection = db['addresses']  # Create a collection named 'addresses'

    # Insert data into users collection
    users_data = [
        {"name": "Alice", "age": 30, "wage":35.35},
        {"name": "Bob", "age": 25},
        {"name": "Charlie", "age": 35},
        {"name": "David"},
        {"name": "Eve", "age": 40, "Favorite_color":{"Color":"Red"}}
    ]
    users_collection.insert_many(users_data)
    
    # Insert data into addresses collection (with references to users)
    addresses_data = [
        {"user_id": users_collection.find_one({"name": "Alice"})["_id"], "address": "123 Apple St"},
        {"user_id": users_collection.find_one({"name": "Bob"})["_id"], "address": "456 Banana Ave"},
        {"user_id": users_collection.find_one({"name": "Charlie"})["_id"], "address": "789 Cherry Blvd"},
        {"user_id": users_collection.find_one({"name": "David"})["_id"], "address": "555 Dragonfruit Way"},
        {"user_id": users_collection.find_one({"name": "Eve"})["_id"], "address": "757th Path"}
    ]
    addresses_collection.insert_many(addresses_data)

    # Fetch users ordered by age
    users = users_collection.find().sort("age")
    print("\nMongoDB Users by age:")
    for user in users:
        print(user)

    # Fetch users older than 30
    users_above_30 = users_collection.find({"age": {"$gt": 30}})
    print("\nUsers older than 30:")
    for user in users_above_30:
        print(user)

    # Fetch users and their addresses by joining users and addresses
    user_addresses = []
    for user in users_collection.find({"age": {'$exists':True}}): # Check to see if they have an age in the collection
        address = addresses_collection.find_one({"user_id": user["_id"]}) # Connect the address to the user by their ID
        if address:
            user_addresses.append({"name": user["name"], "age": user["age"], "address": address["address"]})
    
    print("\nUsers with addresses:")
    for user in user_addresses:
        print(user)    

    # Update Bob's age to 26
    users_collection.update_one({"name": "Bob"}, {"$set": {"age": 26}})
    
    # Fetch updated Bob data
    updated_bob = users_collection.find({"name": "Bob"})
    print("\nUpdated Bob:")
    for user in updated_bob:
        print(user)

    # Delete Alice
    users_collection.delete_one({"name": "Alice"})
    
    # Fetch remaining users after deletion
    remaining_users = users_collection.find()
    print("\nRemaining users after deletion:")
    for user in remaining_users:
        print(user)

    # Close the MongoDB connection
    client.close()

In [57]:
print("SQL Example:")
sql_example()

SQL Example:

SQL Users by age:
(2, 'Bob', 25)
(4, 'David', 28)
(1, 'Alice', 30)
(3, 'Charlie', 35)
(5, 'Eve', 40)

Users older than 30:
(3, 'Charlie', 35)
(5, 'Eve', 40)

Users with addresses:
('Alice', 30, '123 Apple St')
('Bob', 25, '456 Banana Ave')
('Charlie', 35, '789 Cherry Blvd')
('David', 28, '555 Dragonfruit Way')
('Eve', 40, '757th Path')

Updated Bob:
(2, 'Bob', 26)

Remaining users after deletion:
(2, 'Bob', 26)
(3, 'Charlie', 35)
(4, 'David', 28)
(5, 'Eve', 40)

In [68]:
print("NoSQL Example:")
nosql_example()

NoSQL Example:

MongoDB Users by age:
{'_id': ObjectId('67509a7656041f929d3da43b'), 'name': 'David'}
{'_id': ObjectId('67509a7656041f929d3da439'), 'name': 'Bob', 'age': 25}
{'_id': ObjectId('67509a7656041f929d3da438'), 'name': 'Alice', 'age': 30, 'wage': 35.35}
{'_id': ObjectId('67509a7656041f929d3da43a'), 'name': 'Charlie', 'age': 35}
{'_id': ObjectId('67509a7656041f929d3da43c'), 'name': 'Eve', 'age': 40, 'Favorite_color': {'Color': 'Red'}}

Users older than 30:
{'_id': ObjectId('67509a7656041f929d3da43a'), 'name': 'Charlie', 'age': 35}
{'_id': ObjectId('67509a7656041f929d3da43c'), 'name': 'Eve', 'age': 40, 'Favorite_color': {'Color': 'Red'}}

Users with addresses:
{'name': 'Alice', 'age': 30, 'address': '123 Apple St'}
{'name': 'Bob', 'age': 25, 'address': '456 Banana Ave'}
{'name': 'Charlie', 'age': 35, 'address': '789 Cherry Blvd'}
{'name': 'Eve', 'age': 40, 'address': '757th Path'}

Updated Bob:
{'_id': ObjectId('67509a7656041f929d3da439'), 'name': 'Bob', 'age': 26}

Remaining users after deletion:
{'_id': ObjectId('67509a7656041f929d3da439'), 'name': 'Bob', 'age': 26}
{'_id': ObjectId('67509a7656041f929d3da43a'), 'name': 'Charlie', 'age': 35}
{'_id': ObjectId('67509a7656041f929d3da43b'), 'name': 'David'}
{'_id': ObjectId('67509a7656041f929d3da43c'), 'name': 'Eve', 'age': 40, 'Favorite_color': {'Color': 'Red'}}